header{
  display: flex;
}
body{
  background-color: rgb(146, 219, 235);
}

.container{
  height: 100vh;
  display: grid;
  place-items: center;
}
.signUp{
  display: flex;
  flex-direction: column;
}